.favorite-albums {
    &__title {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 3rem;
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px 9px;

        @media (max-width: 475px) {
            display: grid;
            grid-template-columns: repeat(auto-fit, 145px);
            justify-content: space-around;
        }
    }
}
