.artist-name {
    &__items {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        color: #d5d6d6;
    }

    &__line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    &__item {
        font-size: 14px;
        line-height: 16px;
        display: inline;

        &::before {
            content: ", ";
            color: #d5d6d6;
        }
        &:first-child {
            &::before {
                content: "";
            }
        }

        &:hover {
            color: #8870ff;
        }
    }
}
