.song-artist-name {
    &__items {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        color: #d5d6d6;
    }

    &__item {
        font-size: 14px;
        display: inline;
        transition: all 0.3s;

        &::before {
            content: ", ";
            color: #d5d6d6;
        }
        &:first-child {
            &::before {
                content: "";
            }
        }

        &:hover {
            color: #8870ff;
        }
    }
}
