.menu {
    grid-row: 2 / 3;
    position: fixed;
    padding-top: 20px;
    padding-right: 10px;
    height: 100%;
    max-width: 140px;
    width: 100%;
    border-right: 2px solid #ffffff3d;

    &__item-icon {
        margin-right: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__link {
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 10px;
        &:hover {
            background-color: rgba(226, 225, 225, 0.15);
        }
        &-active {
            background-color: rgba(226, 225, 225, 0.35);
        }
    }
}
