.menu {
    grid-row: 2 / 3;
    position: fixed;
    padding-top: 20px;
    padding-right: 10px;
    height: 100%;
    max-width: 140px;
    width: 100%;
    border-right: 2px solid #ffffff3d;

    &__item-icon {
        margin-right: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 10px;
        transition:
            box-shadow 0.2s,
            transform 0.3s;
        box-shadow:
            3px 3px 8px #414141,
            -3px -3px 8px #d7d7d7;

        &:hover {
            transform: translateX(8px);
        }

        &-active {
            box-shadow:
                3px 3px 8px #414141 inset,
                -3px -3px 8px #d7d7d7 inset;
        }

        &:active {
            box-shadow:
                3px 3px 8px #414141 inset,
                -3px -3px 8px #d7d7d7 inset;
        }
    }
}
