.single-song {
    width: 100%;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        column-gap: 30px;
        row-gap: 10px;

        @media (max-width: 550px) {
            justify-content: center;
            text-align: center;
        }
    }

    &__img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
        background-color: #fff;
        margin-left: 20px;

        @media (max-width: 550px) {
            margin-left: 0;
        }

        @media (max-width: 450px) {
            width: 160px;
            height: 160px;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        row-gap: 15px;

        @media (max-width: 550px) {
            align-items: center;
            margin-left: 0;
        }
    }

    &__info {
        display: grid;
    }

    &__label {
        font-size: 3rem;
        line-height: 1.2;
        color: rgba(255, 255, 255, 0.7);
    }

    &__title {
        font-size: 5rem;
        line-height: 1.2;
        font-weight: 700;
        margin: 1.5rem 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__more-info {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        line-height: 20px;

        @media (max-width: 550px) {
            margin-bottom: 15px;
            justify-content: center;
        }
    }

    &__artist {
        display: grid;
        transition: color 0.3s;

        a {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &:hover {
            color: #fff;
        }
    }

    &__sep {
        margin: 0 10px;
    }

    &__btns {
        display: flex;
        column-gap: 20px;
        align-items: center;

        .like-btn {
            opacity: 1;
            position: relative;
            font-size: 22px;
            background-color: rgb(255 255 255 / 18%);
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }
        }

        @media (max-width: 550px) {
            justify-content: center;
        }
    }

    &__play-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding: 10px;
        width: 100px;
        height: 35px;
        font-size: 20px;
        border-radius: 20px;
        border: none;
        background-color: #8870ff;
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.3s;
        cursor: pointer;
        font-family: "Roboto Condensed", sans-serif;

        &:hover {
            @media (min-width: 1025px) {
                color: #8870ff;
                background-color: #fff;
                transform: scale(1.1);
            }
        }

        &:active {
            transform: scale(0.9);
        }
    }
}
