.popular-songs {
    margin-bottom: 40px;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__link-all {
        transition: all 0.5s;
        &:hover {
            transform: scale(1.2);
            filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.9));
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        column-gap: 10px;
        max-height: 212px;
    }
}
