.search {
    position: relative;
    margin: 0 15px;
    width: min(60%, 400px);

    @media (max-width: 500px) {
        position: absolute;
        width: 90%;
        top: 69px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__show-btn {
        position: absolute;
        font-size: 20px;
        color: rgb(229, 229, 229);
        visibility: hidden;
        border: 2px solid;
        padding: 3px;
        border-radius: 5px;
        top: -58px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 30px;
        height: 30px;
        cursor: pointer;

        @media (max-width: 500px) {
            visibility: visible;
        }
    }

    &__icon {
        position: absolute;
        left: 12px;
        top: 11px;
    }

    &__input-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 10;
        background-color: #787a75;
        border-radius: 10px;
        transition:
            top 300ms,
            visibility 300ms,
            opacity 100ms,
            transform 300ms;

        @media (max-width: 500px) {
            transform: scale(0.1);
            position: absolute;
            top: -130px;
            visibility: hidden;
            opacity: 0;
        }
    }

    &__input {
        padding: 11px 17px 11px 32px;
        border: 1px solid rgba(226, 225, 225, 0.35);
        border-radius: 10px;
        background-color: transparent;
        color: #fff;
        width: 100%;

        &::placeholder {
            color: #fff;
            opacity: 0.8;
            border: none;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }

    &__close-btn {
        position: absolute;
        right: 3px;
        font-size: 18px;
        line-height: 0;
        color: #d1d1d1;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.2);
            color: #fff;
        }

        &:active {
            transform: scale(0.9);
        }

        &::after {
            content: "";
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
        }
    }

    &__result {
        position: absolute;
        width: 100%;
        max-height: 60vh;
        top: -510px;
        background-color: #787a75;
        padding: 15px;
        border-radius: 5px;
        box-shadow:
            5px 5px 20px #434343,
            -5px 0 20px #989898;
        overflow-y: auto;
        scrollbar-gutter: auto;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.1);
        transition:
            opacity 100ms,
            visibility 300ms,
            transform 300ms,
            top 300ms;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: #787a75;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #d7d7d7b0;
            border-radius: 5px;
        }

        &-show {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            top: 42px;
            transition:
                opacity 600ms,
                visibility 300ms,
                transform 200ms,
                top 300ms;
            z-index: -1;

            @media (max-width: 500px) {
                top: 19px;
            }
        }
    }

    &__result-items {
        margin-bottom: 20px;
    }

    &__result-title {
        display: inline-block;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
        padding-left: 5px;
        border-radius: 5px;
        color: #d5d6d6;
    }

    &__show {
        @media (max-width: 500px) {
            visibility: visible;
            opacity: 1;
            top: -20px;
            position: absolute;
            transform: scale(1);
            transition:
                top 300ms,
                visibility 300ms,
                opacity 300ms,
                transform 300ms;
        }
    }
}
