.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__container {
        max-width: 350px;
        width: 100%;
        padding: 20px;
        max-height: 500px;
        height: 100%;
        box-shadow: 0px 0px 10px #000;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 26px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__form-item {
        position: relative;
    }

    &__show-password-btn {
        position: absolute;
        top: 34px;
        right: 10px;
        font-size: 18px;
        color: #c3c3c3;
        cursor: pointer;
    }

    &__label {
        display: block;
        margin-bottom: 7px;
    }

    &__input {
        padding: 10px;
        border: 1px solid rgba(226, 225, 225, 0.35);
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        width: 100%;
        margin-bottom: 5px;

        &::-ms-reveal {
            display: none;
        }

        &-password {
            padding: 10px 35px 10px 10px;
        }
    }

    &__error {
        display: inline-block;
        padding: 3px;
        color: rgb(251, 108, 108);
        background-color: #ffe7e7;
        border: 1px solid rgb(251, 108, 108);
        border-radius: 5px;
        display: block;
        text-align: center;
    }

    &__recover-link {
        margin-left: 2px;
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
        }
    }

    &__btn {
        width: 100%;
        height: 35px;
        font-size: 20px;
        border-radius: 5px;
        border: none;
        background-color: #8870ff;
        color: #fff;
        transition: all 0.3s;
        cursor: pointer;
        font-family: "Roboto Condensed", sans-serif;

        &:hover {
            color: #8870ff;
            background-color: #fff;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__spinner {
        background-color: #8870ff;
        border-radius: 10px;
        border: none;
        height: 35px;
        display: flex;
        align-items: center;
    }

    &__bottom {
        margin: auto auto 0;
    }

    &__bottom-link {
        margin-left: 5px;
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
        }
    }
}
