.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    grid-column: 1 / 3;
    height: 100%;
    position: sticky;
    top: 0;
    padding: 10px;
    background: -webkit-linear-gradient(90deg, #a5a4a1, #787a75, #787a75, #a3a3a3);
    background: linear-gradient(90deg, #a5a4a1, #787a75, #787a75, #a3a3a3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2392156863);
    z-index: 10;

    &__search {
        position: relative;
        display: flex;
        width: 40%;
        margin: 0 15px;
        &-img {
            position: absolute;
            left: 12px;
            top: 11px;
        }
        &-input {
            padding: 11px 11px 11px 32px;
            border: 1px solid rgba(226, 225, 225, 0.35);
            border-radius: 15px;
            background-color: transparent;
            color: #fff;
            width: 100%;
        }
        &-input::placeholder {
            color: #fff;
            opacity: 0.8;
            border: none;
        }
    }
    &__logo-img {
        width: 150px;
    }
    &__user {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    &__avatar-img {
        width: 40px;
        border-radius: 50%;
    }
}
