.line-song-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-radius: 7px;
    transition: all 0.3s;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;

    .like-btn {
        opacity: 1;
        right: 60px;
        position: absolute;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);

        @media (max-width: 1024px) {
            background-color: transparent;
        }

        .line-song-item__btn {
            opacity: 1;

            @media (max-width: 1024px) {
                opacity: 0.9;
            }
        }

        .line-song-item__num,
        .line-song-item__rating {
            opacity: 0;
            visibility: hidden;

            @media (max-width: 1024px) {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        background-color: rgba(255, 255, 255, 0.2);
        outline: 2px solid #fff;
        .line-song-item__btn {
            opacity: 1;
        }
    }

    &__content-wrapper {
        display: flex;
        align-items: center;
        padding-left: 50px;
        width: 100%;

        @media (max-width: 500px) {
            padding-left: 40px;
        }
    }

    &__num-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        padding: 0 10px;
        position: absolute;
    }

    &__num {
        @media (max-width: 500px) {
            font-weight: 700;
        }
    }

    &__rating {
        line-height: 0;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__dash {
        height: 2px;
        width: 10px;
        background-color: #bfbebe;
    }

    &__new-item {
        font-size: 14px;
        font-weight: 700;
        background-color: #8870ff;
        width: 25px;
        height: 14px;
        padding-bottom: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;
        background-color: #8870ff;
        transition: all 0.3s;
        opacity: 0;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.2);

            @media (max-width: 1024px) {
                transform: none;
            }
        }

        &:focus-visible {
            opacity: 1;
        }

        &:active {
            transform: scale(0.9);
        }

        &-playing-state {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: none;
            background-color: #8870ff;

            @media (max-width: 1024px) {
                display: none;
            }
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.7);
        }

        @media (max-width: 1024px) {
            opacity: 0.9;
            left: 58px;
        }

        @media (max-width: 500px) {
            left: 48px;
        }
    }

    &__img {
        width: 40px;
        border-radius: 3px;
        margin-right: 10px;
        height: auto;

        @media (max-width: 500px) {
            width: 40px;
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr;

        &-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            max-width: max-content;

            &:hover {
                color: #8870ff;
            }
        }

        &-feat {
            transition: all 0.5s;
            color: #ffffffb3;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            max-width: 600px;

            &-word {
                color: #ffffffb3;
                padding: 0 5px;
            }

            &-artist {
                &::before {
                    content: "&";
                    color: #ffffffb3;
                    padding: 0 5px;
                }
                &:first-child,
                &:nth-child(2) {
                    &::before {
                        content: "";
                        padding: 0;
                    }
                }
            }

            &-link {
                display: inline;

                &:hover {
                    color: #8870ff;
                }
            }
        }
    }

    &__duration {
        margin-left: auto;
        padding: 0 15px 0 50px;
        min-width: 108px;
    }
}
