.sidebar {
    background-color: rgba(226, 225, 225, 0.06);
    max-width: 280px;
    width: 100%;
    height: calc(100vh - 182px);
    padding: 15px;
    border-radius: 15px;
    position: sticky;
    top: 90px;
    margin-left: auto;
    overflow: hidden;
    box-shadow: 5px 5px 10px #6c6a6a;

    &__info {
        border-bottom: 2px solid rgba(255, 255, 255, 0.2392156863);
        margin-bottom: 15px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__close-btn {
        font-size: 20px;
        line-height: 0;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.2);
            color: #8870ff;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__img {
        border-radius: 15px;
        max-height: 160px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__song-title {
        display: inline-block;
        margin-bottom: 5px;
    }

    &__artist {
        min-height: 38px;
        margin-bottom: 10px;
    }

    &__other-info {
        color: #d5d6d6;
        font-size: 14px;
        margin-bottom: 15px;
    }

    &__queue-items {
        overflow-y: auto;
        scrollbar-gutter: auto;
        overflow-x: hidden;
        height: 100%;
        height: calc(100vh - 567px);
        margin-top: 10px;
        background-color: rgba(78, 75, 75, 0.13);
        border-radius: 7px;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: #c8c8c8;
            border-radius: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #1f1f1e6e;
            border-radius: 2px;
        }
    }

    &__queue-item {
        max-height: 50px;
        max-width: 245px;
        padding: 10px 5px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        border-radius: 7px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);

            .sidebar__item-btn {
                opacity: 1;
            }
        }
    }

    &__item-left {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__item-btn {
        position: absolute;
        color: rgba(255, 255, 255, 0.7);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 11px;
        background-color: #8870ff;
        cursor: pointer;
        opacity: 0;
        transition: transform 0.3s;

        &:active {
            transform: scale(0.9);
        }
    }

    &__item-btn-active {
        opacity: 1;
    }

    &__btn-icon {
        line-height: 0;
    }

    &__item-img {
        width: 40px;
        height: 40px;
        border-radius: 7px;
        object-fit: cover;
    }

    &__item-main {
        max-width: 190px;
    }

    &__queue-item-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
