.current-song {
    grid-column: 1 / 3;
    position: fixed;
    max-width: 1280px;
    width: 100%;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    &__progress {
        background-color: #e6e1e1;
        color: #000;
        height: 12px;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        cursor: pointer;

        &-line {
            width: 100%;
            height: 100%;
            background-color: #8870ff;
            z-index: 10;
            pointer-events: none;
            opacity: 0.9;
        }
    }
    &__timeline {
        position: absolute;
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: -webkit-linear-gradient(90deg, #a6a6a6, #d1d0d2, #a6a6a6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            90deg,
            #a6a6a6,
            #d1d0d2,
            #a6a6a6
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 100%;
        padding: 5px 10px;
    }
    &__left-side {
        display: flex;
        align-items: center;
    }
    &__img {
        max-width: 50px;
    }
    &__info {
        margin-left: 10px;
        max-width: 200px;
        &-text {
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &-artist {
            font-size: 14px;
            opacity: 0.7;
            display: inline-block;
        }
    }
    &__controls {
        &-center {
            display: flex;
            justify-content: center;
            column-gap: 15px;
        }
        &-right {
            display: flex;
            justify-content: end;
            align-items: center;
            column-gap: 15px;
        }
        &-btn {
            font-size: 21px;
            transition: all 0.3s;
            color: #fff;

            &:hover {
                color: #8870ff;
                cursor: pointer;
            }
        }
        &-repeat {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        &-repeat::before {
            content: "1";
            position: absolute;
            font-size: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-random {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__btn-active {
        color: #8870ff;
    }
}
