.app {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
    min-height: 100vh;
    background: -webkit-linear-gradient(90deg, #a3a3a3, #787a75, #787a75, #a3a3a3);
    background: linear-gradient(90deg, #a3a3a3, #787a75, #787a75, #a3a3a3);
}

.spinner {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.play-svg {
    padding-left: 2px;
}

.show-all-items {
    overflow: visible;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 100%;
}

.scroll-lock {
    overflow: hidden;
}
