.item-list-layout {
    width: 100%;
    min-height: 255px;
    height: auto;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 0 3px;
    }

    &__title {
        font-size: 2.6rem;
        line-height: 1.2;
    }

    &__link-all {
        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
            filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.9));
        }
    }
}
